[submodule "gateway"]
	path = gateway
	url = https://github.com/noefaguero/altemap-gateway.git
[submodule "user-services"]
	path = user-services
	url = https://github.com/noefaguero/altemap-user-services.git
[submodule "content-services"]
	path = content-services
	url = https://github.com/noefaguero/altemap-content-services.git
